<footer id="footer-global" class="footer-global footer-holder-top">
  {%- if site.author %}
    <span class="copyright footer-text">&copy; Copyright {{ site.author.name | escape }}</span>
    <span class="footer-text">For immediate questions email me at:
      {% if site.author.email -%}
        <span><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></span>
      {%- endif %}
    </span>
  {%- endif %}
  <div class="social-links">
    {%- include social.html -%}
  </div>
</footer>