/* Main CSS for RickeyZachary.com */
@media screen and (min-width: 601px) {
  .global-menu-nav {
    width: auto;
    flex-shrink: 0;
    padding-top: 0;
  }
}

@media screen and (min-width: 601px) {
  .global-nav-menu-item {
    display: inline;
    width: auto;
    position: relative;
    padding: 0;
    margin: 0 30px 0 0;
    margin: 0 1.875rem 0 0;
  }
}

@media screen and (min-width: 601px) {
  .global-nav-menu-item > a {
    padding: 0;
  }
}

/* Main stuff and element styling */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
}

/* Fonts and Font Sizes */

.is-small-text {
  font-size: 14px;
}
.is-regular-text {
  font-size: 16px;
}
.is-large-text {
  font-size: 36px;
}
.is-larger-text {
  font-size: 48px;
}
.has-small-font-size {
  font-size: 13px;
}
.has-normal-font-size,
.has-regular-font-size {
  font-size: 16px;
}
.has-medium-font-size {
  font-size: 20px;
}
.has-large-font-size {
  font-size: 36px;
}
.has-huge-font-size,
.has-larger-font-size {
  font-size: 42px;
}
.has-text-align-center {
  text-align: center;
}
.has-text-align-left {
  text-align: left;
}
.has-text-align-right {
  text-align: right;
}

@charset "UTF-8";
* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 100%;
}

/* HTML Element Styling */
img {
  max-width: 100%;
  height: auto;
}

/* Class Styling */
.alignleft,
img.pull-left {
  float: left;
  margin-right: 10px;
}
.alignright,
img.pull-right {
  float: right;
  margin-left: 10px;
}
.article {
  display: block;
}
.article-date{
    width: auto;
}
.article-image {

}
.article-tags{
    width: auto;
}
.article-byline {

}
.article-title {
  font-family: AtlasGroteskWeb, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  border-color: transparent;
  transition: border-color 0.2s fade-in-out;
}
.article-title a {
  transition: border-color 0.2s ease-in-out;
  border-bottom: 1px solid transparent;
}
.article-title a:hover {
  text-decoration: none;
  border-color: #d1d3d4;
}

.article-title-preview {
  font-family: AtlasGroteskWeb, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  border-color: transparent;
  transition: border-color 0.2s fade-in-out;
}
.article-title-preview a {
  transition: border-color 0.2s ease-in-out;
  border-bottom: 1px solid transparent;
}
.article-title-preview a:hover {
  text-decoration: none;
  border-color: #d1d3d4;
}

.blogroll {
  position: relative;
}

.featured-post {
    width: auto;
    float: left;
    display: inline;
    padding: 5px 0;
}

.footer-global {
    padding-top: 10px;
}

.global-menu {
  flex-grow: 6;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
}
.global-menu-nav {
  width: 100%;
  overflow: hidden;
  padding-top: 10px;
  margin: 0px;
  padding: 0px;
}
.global-nav-menu-item {
  display: block;
  float: left;
  width: auto;
  padding: 5px 0;
  font-family: AtlasGroteskWeb, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.global-nav-menu-item > a {
  display: inline-block;
  padding: 5px 0;
  color: #3c3c3c;
  font-size: 14px;
  font-size: 0.875rem;
  text-decoration: none;
}
.global-nav-menu-item > a:hover {
  color: grey;
}

.header-global-bground {
  background-color: #fff;
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.header-global-wrapper {
  background-color: #fff;
}

.header-global {
  padding: 10px;
  padding: 0.625rem;
  z-index: 2;
  background: #fff;
}

.header-global .skip-to-content-link {
  position: fixed;
  top: -100px;
  left: 0;
  background: #fd713e;
  color: #fff;
  padding: 1rem;
  transition: 0.2s top ease-in-out;
}

.header-global .site-wrapper {
  display: flex;
  flex-flow: row flex-start;
  align-items: center;
  align-content: center;
  position: static;
  padding: 0 0 10px;
  padding: 0 0 0.625rem;
}
.header-global .header-global-top {
  border-bottom: 2px solid #3c3c3c;
  height: 48px;
}
.header-global .header-global-logo {
  margin: 0;
  flex: 4 1 200px;
  overflow: hidden;
}

.header-global .header-global-logo-link {
  display: block;
  overflow: hidden;
  width: 190px;
  padding-right: 10px;
  padding-right: 0.625rem;
}
.header-global .site-logo {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 23px;
}

.image-preview {
    width: 500px;
    height: 300px;
 }

.interest-post {
    width: auto;
    float: right;
    display: inline;
    padding: 5px 0;
}

.main .post-holder-bottom {
    border-bottom: 2px solid #3c3c3c;
}

.post-container{
    width: 100%;
    display: block;
    float: clear;
    /*margin-top: 450px;*/
}

.post-list-heading{
	font-size: 24px;
	padding: 5px 0;
}

.site-wrapper #colophon,
.site-wrapper #content,
.site-wrapper #header-global {
  clear: both;
}

.social-media-links {
  display: table;
  width: 100%;
  overflow: hidden;
  padding-top: 10px;
  margin: 0px auto;
  padding: 0px;
}

.social-media-links > li {
  float: left;
  margin: 5px 10px 5px 0;
  max-width: 32px;
  padding: 5px 0;
}

.social-media-links > a {
	padding: 5px 0;
  color: #3c3c3c;
  border: 1px solid #fff;
  text-decoration: none;
}

.social-media-links > svg {
  height: 32px;
  width: 32px;
	max-width: 32px;
  max-height: 32px;
}

.tag-list {
  list-style-type: none;
  width: auto;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.tag-list-item {
  float: left;
}
.tag-list-item > a {
    display: block;
    padding: 2px;
    text-decoration: none;
}

.top-post-containter {
    width: 100%;
    height: 450px;
    display: block;
    float: left;
}

.u-email {

}
.vert-main {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
}

.vert-spacer{
    display: inline-block;
    margin: 10px;
    float: none;
    width: auto;
    background-color: #fff;
}

.vert-spacer .spacer {
    display: block;
    width: 100px;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/* ID Styling */

@media screen and (max-width: 600px) {
  .nav-global-is-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: #fff;
    margin-top: 0 !important;
  }
  .nav-global-is-open .admin-bar {
    padding-top: 46px;
  }
  .nav-global-is-open .header-global-bground {
    z-index: 3;
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
  }
  .nav-global-is-open .master-ad {
    position: relative;
    z-index: 3;
  }
  .nav-global-is-open .header-global {
    width: 100%;
    z-index: 3;
    position: fixed;
  }
  .nav-global-is-open .header-global .header-global-bottom {
    z-index: 3;
    position: fixed;
    width: auto;
    -webkit-animation-name: displayNavItems;
    animation-name: displayNavItems;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .nav-global-is-open .nav-global-toggle {
    display: block;
    opacity: 1;
  }
}

.svg-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
	padding: 5px 3px 2px 5px;
  vertical-align: text-top;
}
